Ghidra Project/
CLion Project - win32 api and memory research/.idea/
CLion Project - win32 api and memory research/cmake-build-mingw-debug/
CLion Project - win32 api and memory research/cmake-build-mingw-release/
CLion Project - win32 api and memory research/cmake-build-vs-debug/
CLion Project - win32 api and memory research/cmake-build-vs-release/